

header {
    font-family: 'Cinzel', serif; 
    /* font-family: 'Italiana', serif; */
    background-color: #182b2e;
    color:  #9FC6CD
}
body{
   background-color: #182b2e;
    color:  white;
    font-family: 'Cinzel', serif; 
}
h1 {
    font-size: xx-large;
    padding: 10px;
    margin: 40px;
    font-weight: 100;
    text-align: center;
}

body, header, div, nav, a{
    font-size: small;
}

main {
    line-height: 50%;
    line-height: 50%;
}

main, a {
    padding: 20px;    
    text-align: center;
}

.saveBtn{
    margin: 20px;
    padding: 10px;
    background-color: rgb(117, 126, 124);
    color: black;
}

.input{
    background-color: rgb(170, 184, 181);
    margin: 10px;
}

#form{
    background-color: rgb(117, 126, 124);
    color: black;
}

#submit{
    padding: 10px;
    background-color: rgb(170, 184, 181);
    color: black;
}


.saved-container {
    padding: 20px;
}
.savedBox {
background: #cdbd9f;
    
}
.saveboxtext {
color: black;
}
#food-form,
#cocktails-form{
    border-width: 4px !important;
}


@media screen and (max-width: 1279px){
    #food-form{display: block !important; width: 100%;}
    #cocktails-form{display: block !important; margin-top: 30px;}
    .mb-20{margin-bottom: 0 !important;}
}
    